[Desktop Entry]
Version=1.0
Name=CodeLive
Comment=Live development environment
Exec=/opt/codelive/codelive
Terminal=false
Type=Application
Icon=/opt/codelive/icon.ico
Categories=Development;Utility;
StartupNotify=false